.fit {
    object-fit: cover !important;
}

.card {
    background: none !important;
    overflow: hidden;
    border: none;
    margin: .09rem;
    width: 15rem !important;
}

/* .project-container {
    display:inline-block;
    position:relative;
} */

/* .card img {
    transition: transform .2s;
}

.card img:hover {
    transform: scale(1.2);
}
*/

.circle-size {
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.5);
}

.circle-size:hover,
.circle-size.active {
    color: rgba(255, 255, 255, 0.9);
}
