.avatar {
    width: 10vw !important;
    /* max-width: 10vw !important; */
    min-width: 10vw !important;
    /* background-color: darkblue; */
    overflow: hidden;
    object-fit: cover !important;
}

.avatar-img {
    object-fit: cover !important;
}

.text-info {
    color: #FFFFFF !important;
    font-size: .8rem;
}

.text-subtitle {
    font-size: 3vh;
    color: #00d4ff;
}